@inherits Top5Component

@if (Top5Players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card border-dark" style="max-width: 35rem;">
        <div class="card-header">
            <img src="css/bootstrap/icons/trophy.svg" alt="trophy" class="icon" />
            Top 5
        </div>

        @if (Top5Players.Any())
        {
            <ul class="list-group top5">
                @foreach (var player in Top5Players)
                {
                    <li class="list-group-item d-flexalign-items-center">
                        <span class="badge badge-primary badge-pill">@player.Position</span>
                        @player.Name
                    </li>

                }

                <li class="list-group-item d-flexalign-items-center">
                    <NavLink href="score">More...</NavLink>
                </li>
            </ul>
        }
        else
        {
            <div class="card-body">
                <p class="card-text">There is no top 5 yet.</p>
            </div>
        }
    </div>
}