@page "/"

<div class="row">
    <MessageAlerts></MessageAlerts>
</div>
<div class="row">
    <div class="col-sm">
        <Agenda></Agenda>
    </div>

    <div class="col-sm">
        <Top5></Top5>
    </div>

    <div class="col-sm">
        <PlayerInfo></PlayerInfo>
    </div>
</div>