@page "/players"
@inherits PlayerOverviewPage

<h3 class="pageTitle">Players</h3>

<div class="row">

    @if (Players == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <EditForm Model="Players" class="col-12">
            <div class="input-group">
                <InputSelect id="player" class="form-control" aria-label="List of players" @bind-Value="@SelectedPlayerId">
                    <option selected="">-- Select player --</option>
                    @foreach (var player in Players)
                        {
                        <option value="@player.Key">@player.Value</option>
                        }
                </InputSelect>
                <div class="input-group-append">
                    <span class="input-group-text" title="Save selected player" aria-label="Save selected player" @onclick="SaveSelectedPlayer">
                        <img src="css/bootstrap/icons/archive-fill.svg" alt="calendar" class="icon" />
                    </span>
                </div>
            </div>
        </EditForm>
    }
</div>