@page "/players"
@inherits PlayerOverviewPage

@if (Players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <EditForm Model="Players" class="col-12 mb-3">
            <div class="input-group">
                <InputSelect id="player" class="form-control" aria-label="List of players" @bind-Value="@SelectedPlayerId">
                    <option selected="">-- Select player --</option>
                    @foreach (var player in Players)
                        {
                        <option value="@player.Key">@player.Value</option>
                        }
                </InputSelect>
                <div class="input-group-append">
                    <span class="input-group-text" title="Save selected player" aria-label="Save selected player" @onclick="SaveSelectedPlayer">
                        <img src="css/bootstrap/icons/archive-fill.svg" alt="calendar" class="icon" />
                    </span>
                </div>
            </div>
        </EditForm>
    </div>

    if (@SelectedPlayer != null)
    {
        <div class="row">
            <div class="col-12">
                <div class="card border-dark">
                    <div class="card-header">
                        <img src="css/bootstrap/icons/person-fill.svg" alt="person" class="icon" />
                        Player Info: @SelectedPlayer
                    </div>
                    <div class="card-body">
                        <p class="card-text">
                        </p>
                    </div>
                </div>
            </div>
        </div>
    }
}
