@page "/players"
@inherits PlayerOverviewPage

<h3 class="pageTitle">Players</h3>

<div class="row">

    @if (Players == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {

        <EditForm Model="Players" class="col-12">
            <InputSelect id="player" class="form-control" @bind-Value="@SelectedPlayerId">
                <option selected="">Selecteer speler</option>
                @foreach (var player in Players)
                    {
                    <option value="@player.Key">@player.Value</option>
                    }
                /**/
                /**/
            </InputSelect>
        </EditForm>
    }
</div>