@inherits LayoutComponentBase

<main role="main">
    <div class="jumbotron" style="background-image: url(images/jumbotron.jpg); background-size: 100%;">
        <h1>&nbsp;</h1>
    </div>

    <div class="bg-dark">
        <NavMenu />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <Agenda></Agenda>
            </div>

            <div class="col-sm">
                <Top5></Top5>
            </div>

            <div class="col-sm">
                <div class="card border-dark mb-3" style="max-width: 35rem;">
                    <div class="card-header">
                        <img src="css/bootstrap/icons/person-fill.svg" alt="person" class="icon" />
                        Speler Info
                    </div>
                    <div class="card-body">
                        <p class="card-text">Ga naar <i>Spelers</i>, selecteer van wie je info wilt zien en kies voor opslaan.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="container">
        <small class="text-muted font-italic">
            Darkly theme by <a href="https://bootswatch.com/" target="_blank">Bootswatch</a>
        </small>
    </div>
</footer>