@inherits LayoutComponentBase

<main role="main">
    <div class="jumbotron" style="background-image: url(images/jumbotron.jpg); background-size: 100%;">
        <h1>&nbsp;</h1>
    </div>

    <div class="bg-dark">
        <NavMenu />
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm">
                <Agenda></Agenda>
            </div>

            <div class="col-sm">
                <Top5></Top5>
            </div>

            <div class="col-sm">
                <PlayerInfo></PlayerInfo>
            </div>
        </div>
    </div>
</main>


<footer class="footer">
    <div class="container">
        <small class="text-muted font-italic">
            Darkly theme by <a href="https://bootswatch.com/" target="_blank">Bootswatch</a>
        </small>
    </div>
</footer>