<nav class="container navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">dvOnna</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="tussenstand">Tussenstand</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="spelers">Spelers</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="dartoverzicht">Dartoverzicht</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="wedstrijden">Wedstrijden</NavLink>
            </li>
        </ul>
    </div>
</nav>