.jumbotron {
    margin-bottom: 0rem;
}

.navbar {
    margin-bottom: 2rem;
}

.top5 .badge-pill {
    margin-right: 1em;
}

.card {
    margin-bottom: 1em;
}

img.icon {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
    height: 1.75em;
    margin-right: 0.5em;
}

.pageTitle {
    margin-bottom: 1em;
}

#dartOverview table {
    border: 2px solid #444;
}

#dartOverview th {
    border: 2px solid #444;
}

    #dartOverview th.playerId {
        width: 40px;
    }

    #dartOverview th.playerName {
        min-width: 150px;
    }

    #dartOverview th.score {
        min-width: 40px;
        max-width: 40px;
    }

#dartOverview td {
    border: 2px solid #444;
}

#played-games a {
    background-color: inherit;
}

#print-link {
    margin-right: 40px;
    margin-bottom: 10px;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px; /* Margin bottom by footer height */
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
}
