@media print
{
    @page {
        size: landscape
    }


    body * {
        visibility: hidden;
    }

    #section-to-print, #section-to-print * {
        visibility: visible;
    }
    
    #section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }


    .table {
        width: 100%;
    }

    table {
        border-collapse: collapse;
        border-spacing: 2px;
        text-indent: initial;
        line-height: 1.5;
    }

    .table th, .table td {
        padding: 0.50rem;
    }


    #dartOverview table {
        border: 2px solid #000;
    }

    #dartOverview th {
        border: 2px solid #000;
    }

        #dartOverview th.playerId {
            width: 40px;
        }

        #dartOverview th.playerName {
            min-width: 150px;
        }

        #dartOverview th.score {
            min-width: 40px;
            max-width: 40px;
        }

    #dartOverview td {
        border: 2px solid #000;
    }

        #dartOverview td.bg-light {
            background-color: #000 !important;
            color-adjust: exact;
            -webkit-print-color-adjust: exact !important;
            print-color-adjust: exact;
        }

    #qr {
        height: 80px;
        width: 80px;
        margin-top: 5px;
        margin-right: 20px;
    }
}
